.menu_btn{
	-fx-background-image: url(/images/menu/background_button.png);
	-fx-background-color: transparent;
	-fx-pref-height: 63;
	-fx-pref-width: 286;
}

.menu_btn:hover{
	-fx-background-image: url(/images/menu/background_button_hover.png);
}

.back_btn{
	-fx-background-image: url(/images/menu/back_button.png);
	-fx-background-color: transparent;
	-fx-pref-height: 61;
	-fx-pref-width: 61;
}

.back_btn:hover{
	-fx-background-image: url(/images/menu/back_button_hover.png);
}